/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/*
 * Reduce image to fit nav bar.
 */
.my-img {
    height: auto;
    width: auto;
    max-width: 30px;
    max-height: 30px;
}
.glyphicon.glyphicon-th {
    font-size: 30px;
}
.glyphicon.glyphicon-bell {
    font-size: 30px;
}
.glyphicon.glyphicon-user {
    font-size: 30px;
}
nav a {
    color: black;
    &:hover {
     color: ##428bca; !important;
  }
}

 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  background-color: black;
}
.bb{
    background-color: white;
    border-bottom: 1px #eee solid;
}
.logo-brand {
    float: left;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
body { font-family:Arial; font-size:14px; }
			body>span, body>h1 { float:left; width:100%; margin:0; padding:0; margin-bottom:10px; }

			span { color:#888888;
                >b { color:black; }
            }

			#selected { float:left; width:100%; margin-top:20px; }

            .vertical-centre (@height) { height:@height; line-height:@height !important; display:inline-block; vertical-align:middle; }
            .border-box { box-sizing:border-box; -moz-box-sizing:border-box; }
			.transition (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; -webkit-transition: @value; -moz-transition: @value; -ms-transition: @value; -o-transition: @value; transition: @value; }
			.transform (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transform:@value; -ms-transform:@value; -webkit-transform:@value; -o-transform:@value; -moz-transform:@value; }

			@height:40px;
			@spacing:10px;
			@select-colour:#2875C7;
			@font-size:14px;
			@border-colour:#DDD;

			div.dropdown-container { float:left; display:block; width:250px; margin-top:20px;
				&.show>div.dropdown-list { .transform(scale(1, 1)); }

				>div.dropdown-display { float:left; width:100%; background:white; height:@height; cursor:pointer; border:solid 1px @border-colour; .border-box;
					@icon-width:14px;
					>* { float:left; height:100%; .vertical-centre(@height); }
					>span { font-size:@font-size; width:100%; position:relative; .border-box; padding-right:@icon-width+@spacing*2; padding-left:@spacing; }
					>i { position:relative; width:@icon-width; margin-left:(@spacing+@icon-width)*-1; font-size:1.125em; font-weight:bold; padding-right:@spacing; text-align:right; }
				}
				>div.dropdown-list { float:left; width:100%; position:relative; width:100%; .transform(scale(1, 0)); .transition(-webkit-transform ease 250ms); .transition(transform ease 250ms);
					>div { position:absolute; width:100%; z-index:2; cursor:pointer; background:white;
						>div { float:left; width:100%; padding:0 @spacing; font-size:@font-size; .border-box; border:solid 1px @border-colour; border-top:none;
							@icon-width:20px;
							&:hover { background:#F0F0F0; }
							&.selected { background:@select-colour; color:white; }
							>* { .vertical-centre(@height); }
							>span { float:left; width:100%; position:relative; padding-right:@icon-width+@spacing; .border-box; color:inherit; }
							>i { float:left; width:@icon-width; margin-left:@icon-width*-1; display:none; }
							&.selected>i { display:inline-block; }
						}
					}
				}
			}
